<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shine.his.store.dao.IStoreCheckDetailDao">
    <resultMap id="BaseResultMap" type="com.shine.his.store.pojo.StoreCheckDetail">
        <id column="STORE_CHECK_DETAIL_ID" jdbcType="DECIMAL" property="storeCheckDetailId"/>
        <result column="STORE_GOODS_POSITION_CODE" jdbcType="VARCHAR" property="storeGoodsPositionCode"/>
        <result column="DRUG_CHECK_NO" jdbcType="VARCHAR" property="drugCheckNo"/>
        <result column="DRUG_CODE" jdbcType="VARCHAR" property="drugCode"/>
        <result column="EXP_DATE" jdbcType="DATE" property="expDate"/>
        <result column="BATCH_NO" jdbcType="VARCHAR" property="batchNo"/>
        <result column="PURCHASE_PRICE" jdbcType="DECIMAL" property="purchasePrice"/>
        <result column="RETAIL_PRICE" jdbcType="DECIMAL" property="retailPrice"/>
        <result column="STORE_NUM" jdbcType="DECIMAL" property="storeNum"/>
        <result column="REAL_NUM" jdbcType="DECIMAL" property="realNum"/>
        <result column="RELATIVE_NUM" jdbcType="DECIMAL" property="relativeNum"/>
        <result column="SUPPLIER_CODE" jdbcType="VARCHAR" property="supplierCode"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
        STORE_CHECK_DETAIL_ID, STORE_GOODS_POSITION_CODE, DRUG_CHECK_NO, DRUG_CODE, EXP_DATE,
        BATCH_NO, PURCHASE_PRICE, RETAIL_PRICE, STORE_NUM, REAL_NUM, RELATIVE_NUM, SUPPLIER_CODE,
        REMARK
    </sql>

    <insert id="insertStoreCheckDetail" parameterType="com.shine.his.store.pojo.StoreCheckDetail"
            keyProperty="storeCheckDetailId" useGeneratedKeys="true">
        <selectKey resultType="java.lang.Integer" order="BEFORE" keyProperty="storeCheckDetailId">
            select SEQ_STORE_CHECK_DETAIL.Nextval from dual
        </selectKey>
        insert into HIS.STORE_CHECK_DETAIL
        <trim prefix="(" suffix=")" suffixOverrides=",">
            STORE_CHECK_DETAIL_ID,
            <if test="storeGoodsPositionCode != null">
                STORE_GOODS_POSITION_CODE,
            </if>
            <if test="drugCheckNo != null">
                DRUG_CHECK_NO,
            </if>
            <if test="drugCode != null">
                DRUG_CODE,
            </if>
            <if test="expDate != null">
                EXP_DATE,
            </if>
            <if test="batchNo != null">
                BATCH_NO,
            </if>
            <if test="purchasePrice != null">
                PURCHASE_PRICE,
            </if>
            <if test="retailPrice != null">
                RETAIL_PRICE,
            </if>
            <if test="storeNum != null">
                STORE_NUM,
            </if>
            <if test="realNum != null">
                REAL_NUM,
            </if>
            <if test="relativeNum != null">
                RELATIVE_NUM,
            </if>
            <if test="supplierCode != null">
                SUPPLIER_CODE,
            </if>
            <if test="remark != null">
                REMARK,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{storeCheckDetailId,jdbcType=DECIMAL},
            <if test="storeGoodsPositionCode != null">
                #{storeGoodsPositionCode,jdbcType=VARCHAR},
            </if>
            <if test="drugCheckNo != null">
                #{drugCheckNo,jdbcType=VARCHAR},
            </if>
            <if test="drugCode != null">
                #{drugCode,jdbcType=VARCHAR},
            </if>
            <if test="expDate != null">
                #{expDate,jdbcType=DATE},
            </if>
            <if test="batchNo != null">
                #{batchNo,jdbcType=VARCHAR},
            </if>
            <if test="purchasePrice != null">
                #{purchasePrice,jdbcType=DECIMAL},
            </if>
            <if test="retailPrice != null">
                #{retailPrice,jdbcType=DECIMAL},
            </if>
            <if test="storeNum != null">
                #{storeNum,jdbcType=DECIMAL},
            </if>
            <if test="realNum != null">
                #{realNum,jdbcType=DECIMAL},
            </if>
            <if test="relativeNum != null">
                #{relativeNum,jdbcType=DECIMAL},
            </if>
            <if test="supplierCode != null">
                #{supplierCode,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateStoreCheckDetail" parameterType="com.shine.his.store.pojo.StoreCheckDetail">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update HIS.STORE_CHECK_DETAIL
        <set>
            <if test="storeGoodsPositionCode != null">
                STORE_GOODS_POSITION_CODE = #{storeGoodsPositionCode,jdbcType=VARCHAR},
            </if>
            <if test="drugCheckNo != null">
                DRUG_CHECK_NO = #{drugCheckNo,jdbcType=VARCHAR},
            </if>
            <if test="drugCode != null">
                DRUG_CODE = #{drugCode,jdbcType=VARCHAR},
            </if>
            <if test="expDate != null">
                EXP_DATE = #{expDate,jdbcType=DATE},
            </if>
            <if test="batchNo != null">
                BATCH_NO = #{batchNo,jdbcType=VARCHAR},
            </if>
            <if test="purchasePrice != null">
                PURCHASE_PRICE = #{purchasePrice,jdbcType=DECIMAL},
            </if>
            <if test="retailPrice != null">
                RETAIL_PRICE = #{retailPrice,jdbcType=DECIMAL},
            </if>
            <if test="storeNum != null">
                STORE_NUM = #{storeNum,jdbcType=DECIMAL},
            </if>
            <if test="realNum != null">
                REAL_NUM = #{realNum,jdbcType=DECIMAL},
            </if>
            <if test="relativeNum != null">
                RELATIVE_NUM = #{relativeNum,jdbcType=DECIMAL},
            </if>
            <if test="supplierCode != null">
                SUPPLIER_CODE = #{supplierCode,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where STORE_CHECK_DETAIL_ID = #{storeCheckDetailId,jdbcType=DECIMAL}
    </update>
    <select id="getStoreCheckDetailsByCheckNo" resultType="List" resultMap="BaseResultMap"
            parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from HIS.STORE_CHECK_DETAIL where DRUG_CHECK_NO=#{drugCheckNo,jdbcType=VARCHAR}
    </select>

    <select id="getStockCheckDetailByDetailId" resultType="com.shine.his.store.pojo.StoreCheckDetail"
            resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from HIS.STORE_CHECK_DETAIL where STORE_CHECK_DETAIL_ID = #{storeCheckDetailId,jdbcType=DECIMAL}
    </select>
    <delete id="deleteStoreCheckDetailById" parameterType="java.lang.Integer">
      DELETE  HIS.STORE_CHECK_DETAIL where STORE_CHECK_DETAIL_ID= #{storeCheckDetailId,jdbcType=DECIMAL}
    </delete>
</mapper>